#root {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  background-color: #0b0b0b;
  overflow: hidden auto;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-start;
}
#root .btn {
  position: relative;
  overflow: hidden;
}
#root .btn > p {
  position: relative;
  z-index: 2;
}
#root .btn::after {
  display: block;
  content: "";
  background-color: #303030;
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: all 0.4s;
}
#root .btn:hover {
  background-color: #141414;
}
#root .btn:active::after {
  width: 150%;
  height: 300%;
}

#header {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
}
#header .top {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 60px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #262626;
}
#header .top .inner {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-end;
  width: 1200px;
  height: 100%;
}
#header .top .inner > button {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: auto;
  height: 40px;
  padding: 0 15px;
  transition: all 0.2s;
  position: relative;
}
#header .top .inner > button > p {
  font-size: 14px;
  position: relative;
  z-index: 2;
}
#header .top .inner > button > img {
  position: relative;
  z-index: 2;
}
#header .top .inner > button:not(:nth-of-type(1)) {
  margin-left: 10px;
}
#header .top .inner > button.login-btn {
  background-color: #ff3636;
}
#header .top .inner > button.login-btn::after {
  background-color: #ff3636;
}
#header .top .inner > button.login-btn:hover {
  background-color: #ff5e5e;
}
#header .top .inner > button.login-btn:active::after {
  background-color: #d74242;
}
#header .bottom {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 75px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #262626;
}
#header .bottom .inner {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 100%;
}
#header .bottom .inner > h1 {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  width: 135px;
  height: auto;
}
#header .bottom .inner > h1 img {
  width: 100%;
  height: 100%;
}
#header .bottom .inner > nav {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  align-items: flex-end;
}
#header .bottom .inner > nav > ul {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
}
#header .bottom .inner > nav > ul > li {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  transition: background-color 0.2s;
  overflow: hidden;
  position: relative;
}
#header .bottom .inner > nav > ul > li:not(:nth-child(1)) {
  margin-left: 10px;
}
#header .bottom .inner > nav > ul > li.actived {
  border: 1px solid #ff3636;
}
#header .bottom .inner > nav > ul > li.actived > a > p {
  font-weight: 600;
  color: #ff3636;
}
#header .bottom .inner > nav > ul > li > a {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
#header .bottom .inner > nav > ul > li > a > p {
  position: relative;
  z-index: 2;
}
#header .mobile-header {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 75px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #262626;
}
#header .mobile-header .inner {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
#header .mobile-header .inner h1 {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
}
#header .mobile-header .inner .right-menu {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-end;
}
#header .mobile-header .inner .right-menu > button {
  height: 50px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
#header .mobile-header .inner .right-menu > button > img {
  position: relative;
  z-index: 2;
}
#header .mobile-header .inner .right-menu > button:not(:nth-of-type(1)) {
  margin-left: 10px;
}
#header .mobile-header .inner .right-menu .menu-btn {
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 15px;
}
@media screen and (min-width: 1240px) {
  #header .mobile-header {
    display: none;
  }
}
@media screen and (max-width: 1240px) {
  #header .top,
#header .bottom {
    display: none;
  }
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 540px;
  overflow: hidden;
}
#main a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/main1.png");
  position: relative;
}
#main a p {
  width: 100%;
  max-width: 1200px;
  text-align: left;
  font-weight: 700;
  font-size: 40px;
  word-break: keep-all;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1240px) {
  #main {
    flex: 0 0 480px;
  }
  #main > a > p {
    max-width: none;
    margin: 0 20px;
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  #main {
    flex: 0 0 420px;
  }
  #main > a > p {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  #main {
    flex: 0 0 400px;
  }
  #main > a > p {
    font-size: 20px;
  }
}

#container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
#container .inner {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-start;
  width: 1200px;
}
#container .cont1 {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 100px 0;
}
#container .cont1 header {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}
#container .cont1 header > h1 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
}
#container .cont1 header > div {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  align-items: center;
  width: 100%;
}
#container .cont1 header > div > ul {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  align-items: flex-start;
}
#container .cont1 header > div > ul > li {
  flex: 0 0 auto;
  margin-right: 10px;
}
#container .cont1 header > div > ul > li:last-child {
  margin-right: 0;
}
#container .cont1 header > div > ul > li > button {
  height: 36px;
  padding: 0 15px;
}
#container .cont1 header > div > ul > li > button > p {
  font-size: 16px;
}
#container .cont1 header > div > ul > li > button.subscribe-btn {
  background-color: #ff3636;
}
#container .cont1 header > div > ul > li > button.subscribe-btn::after {
  background-color: #ff3636;
}
#container .cont1 header > div > ul > li > button.subscribe-btn:hover {
  background-color: #ff5e5e;
}
#container .cont1 header > div > ul > li > button.subscribe-btn:active::after {
  background-color: #d74242;
}
#container .cont1 header > div .btn-wrap {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  align-items: flex-end;
  margin-left: auto;
}
#container .cont1 header > div .btn-wrap > button {
  width: 44px;
  height: 44px;
  position: relative;
}
#container .cont1 header > div .btn-wrap > button::before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #999;
  border-left: 2px solid #999;
  position: absolute;
  z-index: 2;
  transform: rotate(-45deg);
  top: 17px;
  left: 17px;
}
#container .cont1 header > div .btn-wrap > button.next::before {
  transform: rotate(135deg);
  left: 14px;
}
#container .cont1 .magazine {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  width: 100%;
}
#container .cont1 .magazine > ul {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  justify-content: space-between;
  width: 100%;
}
#container .cont1 .magazine > ul > li {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 32%;
}
#container .cont1 .magazine > ul > li > span {
  width: 100%;
}
#container .cont1 .magazine > ul > li > span > img {
  width: 100%;
}
#container .cont1 .magazine > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 100%;
  margin-top: 22px;
  border: 1px solid #999999;
}
#container .cont2 {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 0 100px;
}
#container .cont2 header {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}
#container .cont2 header > h1 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
}
#container .cont2 .video {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
}
#container .cont2 .video .youtube {
  flex: 0 0 calc(50% - 20px);
  width: 100%;
  height: 500px;
  margin-right: 20px;
  background-color: #ccc;
  cursor: pointer;
}
#container .cont2 .video .youtube:hover {
  filter: brightness(0.8);
}
#container .cont2 .video .youtube > img {
  width: 100%;
  height: 100%;
}
#container .cont2 .video > div {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}
#container .cont2 .video > div .text-box {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}
#container .cont2 .video > div .text-box > strong {
  flex: 0 0 auto;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#container .cont2 .video > div .text-box > p {
  flex: 0 0 auto;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}
#container .cont2 .video > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 100%;
  margin-top: 22px;
  border: 1px solid #999999;
  font-size: 16px;
}
#container .cont3 {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
}
#container .cont3 > .inner {
  justify-content: flex-start;
  align-items: flex-start;
  margin: 100px 0;
}
#container .cont3 h1,
#container .cont3 p,
#container .cont3 span {
  color: #333;
}
#container .cont3 header {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}
#container .cont3 header > h1 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
}
#container .cont3 .news {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
}
#container .cont3 .news > ul {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  justify-content: space-between;
}
#container .cont3 .news > ul > li {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 calc(25% - 20px);
  height: 330px;
}
#container .cont3 .news > ul > li:hover > a img {
  filter: brightness(0.8);
}
#container .cont3 .news > ul > li:hover > a .text span {
  color: #000;
}
#container .cont3 .news > ul > li:active > a img {
  filter: brightness(0.6);
}
#container .cont3 .news > ul > li > a {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
#container .cont3 .news > ul > li > a .text {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 50px;
  margin: 10px 0;
}
#container .cont3 .news > ul > li > a .text span {
  flex: 0 0 40px;
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#container .cont3 .news > ul > li > a .text p {
  font-weight: 400;
  font-size: 14px;
  color: #888888;
  margin-top: 10px;
}
#container .cont3 .news .bottom-area {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 30px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}
#container .cont3 .news .bottom-area > ul {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
#container .cont3 .news .bottom-area > ul > li {
  flex: 0 0 auto;
}
#container .cont3 .news .bottom-area > ul > li:not(:last-child) {
  margin-right: 5px;
}
#container .cont3 .news .bottom-area > ul > li:hover span {
  background-color: #666;
}
#container .cont3 .news .bottom-area > ul > li.actived span {
  background-color: #ff3636;
}
#container .cont3 .news .bottom-area > ul > li span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #999;
  cursor: pointer;
}
#container .cont3 .news .bottom-area > a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
#container .cont3 .news .bottom-area > a:hover > p {
  text-decoration: underline;
}
#container .cont4 {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-image: url("../assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#container .cont4 > .inner {
  justify-content: flex-start;
  align-items: flex-start;
  margin: 100px 0;
}
#container .cont4 > .inner header {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}
#container .cont4 > .inner header > h1 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
}
#container .cont4 > .inner .words {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  width: 100%;
  height: 430px;
}
#container .cont4 > .inner .words .movie-info {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 50%;
}
#container .cont4 > .inner .words .movie-info img {
  flex: 0 0 calc(50% - 20px);
  max-width: 100%;
  margin-right: 20px;
}
#container .cont4 > .inner .words .movie-info .info strong {
  display: inline-block;
  font-weight: 500;
  font-size: 28px;
  color: #e0e0e0;
  margin-bottom: 40px;
}
#container .cont4 > .inner .words .movie-info .info > ul {
  display: flex;
  flex-flow: row nowrap;
}
#container .cont4 > .inner .words .movie-info .info > ul > li {
  flex: 0 0 40px;
  height: 40px;
}
#container .cont4 > .inner .words .movie-info .info > ul > li img {
  width: 100%;
  height: 100%;
}
#container .cont4 > .inner .words .movie-info .info > p {
  font-weight: 700;
  font-size: 40px;
  color: #ff3636;
  margin-top: 10px;
}
#container .cont4 > .inner .words > ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex: 0 0 50%;
}
#container .cont4 > .inner .words > ul > li {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 calc(33% - 15px);
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background-color: #090909;
}
#container .cont4 > .inner .words > ul > li:not(:last-child) {
  margin-bottom: 15px;
}
#container .cont4 > .inner .words > ul > li .name {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 10px;
}
#container .cont4 > .inner .words > ul > li .name > span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 10px;
}
#container .cont4 > .inner .words > ul > li .name > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#container .cont4 > .inner .words > ul > li .name > ul li {
  flex: 0 0 22px;
  height: 22px;
}
#container .cont4 > .inner .words > ul > li > p {
  font-weight: 400;
  font-size: 16px;
}
#container .cont4 > .inner .more {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 50px;
  width: 100%;
  text-align: right;
  margin-top: 10px;
}
#container .cont4 > .inner .more:hover a {
  text-decoration: underline;
}
@media screen and (max-width: 1240px) {
  #container .inner {
    width: 100%;
    padding: 0 20px;
  }
  #container .cont1 {
    margin: 50px 0;
  }
  #container .cont1 header h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  #container .cont1 header > ul > li > button > p {
    font-size: 14px;
  }
  #container .cont2 header {
    margin: 0;
  }
  #container .cont2 header h1 {
    font-size: 24px;
  }
  #container .cont2 .video {
    flex-flow: column nowrap;
    align-items: center;
  }
  #container .cont2 .video .youtube {
    flex: 0 0 480px;
    width: 720px;
    height: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  #container .cont2 .video > div .text-box > strong {
    font-size: 24px;
  }
  #container .cont2 .video > div .text-box > p {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
  }
  #container .cont2 > ul {
    justify-content: center;
  }
  #container .cont3 header {
    margin: 0;
  }
  #container .cont3 header h1 {
    font-size: 24px;
  }
  #container .cont4 > .inner {
    margin: 40px 0;
  }
  #container .cont4 > .inner header {
    margin: 0;
  }
  #container .cont4 > .inner header h1 {
    font-size: 24px;
  }
  #container .cont4 > .inner .words {
    flex-flow: column nowrap;
    height: auto;
  }
  #container .cont4 > .inner .words .movie-info {
    flex: 0 0 auto;
    justify-content: center;
    margin-bottom: 10px;
  }
  #container .cont4 > .inner .words .movie-info img {
    flex: 0 0 auto;
    height: 320px;
  }
  #container .cont4 > .inner .words .movie-info .info {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    align-items: flex-end;
    justify-content: flex-end;
  }
  #container .cont4 > .inner .words .movie-info .info strong {
    font-size: 20px;
  }
  #container .cont4 > .inner .words .movie-info .info > ul {
    justify-content: flex-end;
  }
  #container .cont4 > .inner .words .movie-info .info > ul li {
    flex: 0 0 28px;
    height: 28px;
  }
  #container .cont4 > .inner .words .movie-info .info p {
    font-size: 36px;
  }
}
@media screen and (max-width: 1024px) {
  #container .cont3 > .inner {
    margin: 50px 0;
  }
  #container .cont3 > .inner header h1 {
    flex: 0 0 50px;
  }
  #container .cont3 > .inner .news > ul {
    flex-flow: row wrap;
  }
  #container .cont3 > .inner .news > ul > li {
    flex: 0 0 calc(50% - 15px);
    height: auto;
  }
  #container .cont3 > .inner .news > ul > li:nth-child(1), #container .cont3 > .inner .news > ul > li:nth-child(2) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  #container .cont1 header div > ul li button {
    height: 34px;
    padding: 0 10px;
  }
  #container .cont1 header div > ul li button p {
    font-size: 12px;
  }
  #container .cont1 header div .btn-wrap button {
    width: 34px;
    height: 34px;
  }
  #container .cont1 header div .btn-wrap button::before {
    top: 12px;
    left: 10px;
  }
  #container .cont1 .magazine > ul > li > a {
    border: none;
    margin: 0;
  }
  #container .cont2 .video .youtube {
    flex: 0 0 320px;
    width: 100%;
  }
  #container .cont2 .video > div .text-box > strong {
    font-size: 20px;
  }
  #container .cont2 .video > div .text-box > p {
    font-size: 12px;
    line-height: 20px;
    -webkit-line-clamp: 5;
  }
  #container .cont3 > .inner {
    margin: 40px 0;
  }
  #container .cont3 > .inner header h1 {
    flex: 0 0 50px;
  }
  #container .cont3 > .inner .news > ul > li .text span {
    flex: 0 0 38px;
    font-size: 16px;
  }
  #container .cont3 > .inner .news > ul > li .text p {
    font-size: 12px;
  }
  #container .cont4 > .inner .words .movie-info img {
    height: 150px;
  }
}

#footer {
  flex: 0 0 auto;
  padding: 40px 0;
}
#footer > .inner {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  justify-content: flex-start;
  width: 1200px;
}
#footer > .inner .top {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 20px;
}
#footer > .inner .top .footer-nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#footer > .inner .top .footer-nav li {
  flex: 0 0 auto;
  margin-right: 20px;
}
#footer > .inner .top .footer-nav li a p {
  color: #e0e0e0;
}
#footer > .inner .top .footer-nav li:hover a p {
  color: #fff;
}
#footer > .inner .top .sns {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: auto;
}
#footer > .inner .top .sns li {
  flex: 0 0 auto;
  margin-left: 15px;
}
#footer > .inner .top .sns li a img {
  filter: brightness(0.8);
}
#footer > .inner .top .sns li:hover a img {
  filter: brightness(1);
}
#footer > .inner .bottom address p {
  font-weight: 500;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 25px;
}
@media screen and (max-width: 1240px) {
  #footer > .inner {
    width: 100%;
    padding: 0 20px;
  }
  #footer > .inner .top {
    flex-flow: column-reverse nowrap;
  }
  #footer > .inner .top .sns {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  #footer > .inner .top .footer-nav {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  #footer > .inner .top .footer-nav li {
    flex: 0 0 30%;
    padding: 10px 0;
  }
  #footer > .inner .top .footer-nav li a p {
    font-size: 14px;
    white-space: nowrap;
  }
  #footer > .inner .bottom address p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
